<div class="card mt-4 shadow-sm">
    <div class="card-body">
      <h5 class="card-title text-secondary">{{ status.statusName }}</h5>
      <p class="card-text">
        <strong>ID:</strong> {{ status.id }}
      </p>
      <p class="card-text">
        <strong>Creado el:</strong> {{ status.createdAt | date:'dd/MM/yyyy' }}
      </p>
      <p class="card-text">
        <strong>Active:</strong>{{status.isActive}}
      </p>
      <div class="d-flex">
        <button class="btn btn-outline-primary">Editar</button>
        <button type="button" class="btn btn-outline-danger mx-1" (click)="handleDelete(status.id)">Borrar</button>
      </div>
    </div>
  </div>
  