<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Taskflow</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="login" *ngIf="!isLoggedIn">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" *ngIf="!isLoggedIn">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile" *ngIf="isLoggedIn"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="roles"
            *ngIf="isLoggedIn && userRole == 'Admin'"
            >Roles</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="statuses"
            *ngIf="isLoggedIn && userRole == 'Admin'"
            >Statuses</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="dashboard"
            *ngIf="isLoggedIn && userRole == 'Admin'"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <button
            class="nav-link btn btn-link"
            (click)="onLogout()"
            *ngIf="isLoggedIn">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
